<h1>Analysis of <%= @analysis.track_count %> tracks in <i>'<%= @name %>'</i></h1>

<h3>Normie Trash (popular)</h3>

<div class="track-list">
	<% for track in @analysis.most_popular %>
		<%= render partial: "track", locals: {track: track} %>
	<% end %>
</div>

<h3>Hipster Noise (unpopular)</h3>

<div class="track-list">
	<% for track in @analysis.least_popular %>
		<%= render partial: "track", locals: {track: track} %>
	<% end %>
</div>

<h3>Track Count by Year of Release</h3>

<%= bar_chart @analysis.release_date_range,
	id: "yearly-chart",
	width: "800px", height: "#{100 + 18 * @analysis.release_date_range.size}px",
	xtitle: "Count", ytitle: "Year", round: 0,
	discrete: true
%>

<p><%= link_to '<< Back', action: 'show' %></p>

<p><%= link_to ">> Your analysis sucks, I'll do it myself (Export as CSV)", action: 'export' %></p>
